.container {
    width: 600px;
    height: 400px;
    background-color: lightblue;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    border-radius: 12px;
    border: black solid 2px;
    box-shadow: 5px 5px 10px rgb(178, 156, 156);
}
.item1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.item2{
    border-radius: 10px;
    border: black solid 2px;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:yellow;
    margin-top: 20px;
}