.container {
    width: 600px;
    height: 400px;
    background-color: rgb(89, 89, 163);
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    border-radius: 12px;
    border: black solid 2px;
    box-shadow: 5px 5px 10px grey;
}
#salary{
    border: red solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    
    text-align: center; 
}
#name{
    border: red solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    
    text-align: center; 
}
#number{
    border: red solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    
    text-align: center; 
}
#text{
    border: red solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    
    text-align: center; 
}
.add{
    border: rgb(181, 116, 116) solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 20px;
    background-color: yellow;
    
    text-align: center; 
}
.display{
    border: rgb(205, 137, 137) solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    background-color: yellow;
    
    text-align: center; 
}
.salary{
    border: rgb(254, 160, 160) solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    background-color: yellow;
    
    text-align: center; 
}
.total{
    border: rgb(221, 132, 132) solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    background-color: yellow;
    
    text-align: center; 
}
.average{
    border: rgb(199, 119, 119) solid 2px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    background-color: yellow;

    
    text-align: center; 
}
.count{
    border: rgb(241, 144, 144) solid 2px;
    border-radius: 12px;
    padding: 5px;
        background-color: yellow;
    margin-top: 10px;
    
    text-align: center; 
}