/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

/* Navbar */

.navbar {
  background-color: #131921;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 20px;
}

.navbar input {
  width: 40%;
  padding: 10px;

  border: none;
  border-radius: 5px;
}

.cart {
  background-color: orange;
  color: black;

  padding: 10px 15px;

  border-radius: 5px;

  font-weight: bold;
}

/* Categories */

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;

  padding: 20px;

  flex-wrap: wrap;
}

.categories button {
  padding: 10px 15px;

  border: none;
  border-radius: 5px;

  background-color: white;

  cursor: pointer;

  font-weight: bold;
}

.categories button:hover {
  background-color: orange;
  color: white;
}

.categories .active {
  background-color: orange;
  color: white;
}

/* Products */
/* FIXED SAME SIZE */

.products {
  display: grid;

  grid-template-columns: repeat(4, 250px);

  justify-content: center;

  gap: 20px;

  padding: 20px;
}

/* Card */

.card {
  width: 250px;

  background-color: white;

  border-radius: 10px;

  overflow: hidden;

  text-align: center;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Image */

.card img {
  width: 100%;
  height: 220px;

  object-fit: cover;
}

/* Info */

.info {
  padding: 15px;
}

.info h3 {
  margin-bottom: 10px;

  font-size: 20px;
}

.info p {
  color: gray;

  margin-bottom: 10px;
}

.info h2 {
  color: #b12704;

  margin-bottom: 15px;
}

/* Button */

.info button {
  width: 100%;

  padding: 10px;

  border: none;
  border-radius: 5px;

  background-color: #ffd814;

  font-weight: bold;

  cursor: pointer;
}

.info button:hover {
  background-color: orange;
  color: white;
}

/* Responsive */

@media (max-width: 1100px) {
  .products {
    grid-template-columns: repeat(3, 250px);
  }
}

@media (max-width: 850px) {
  .products {
    grid-template-columns: repeat(2, 250px);
  }
}

@media (max-width: 600px) {

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar input {
    width: 100%;
  }

  .products {
    grid-template-columns: repeat(1, 250px);
  }
}